<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>What's Up</title>
</head>

<body>
    <a href="/main/logout">Logout</a>
    <h1>Hello, {{user.name}}</h1>
    <h2>Here are you appointments for today, {{date}}</h2>
    <table>
        <tr>
            <th>Tasks</th>
            <th>Time</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for appointment in appointments.today %}
        <tr>
            <td>{{appointment.task}}</td>
            <td>{{appointment.time}}</td>
            <td>{{appointment.status}}</td>
            <td>
                <a href="{{appointment.id}}/delete">Delete</a>
                <a href="{{appointment.id}}/edit">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h2>Your other appointments</h2>
    <table>
        <tr>
            <th>Tasks</th>
            <th>Time</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for appointment in appointments.later %}
        <tr>
            <td>{{appointment.task}}</td>
            <td>{{appointment.date}}</td>
            <td>{{appointment.status}}</td>
            <td>
                <a href="{{appointment.id}}/delete">Delete</a>
                <a href="{{appointment.id}}/edit">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h2>Add Appointment</h2>
    <form action="add" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Date</td>
                <td>
                    <input type="date" name="date">
                </td>
            </tr>
            <tr>
                <td>Time</td>
                <td>
                    <input type="time" name="time">
                </td>
            </tr>
            <tr>
                <td>Tasks</td>
                <td>
                    <input type="text" name="task">
                </td>
            </tr>
        </table>
        <input type="submit" value="Add">
    </form>
    {% if messages %} {% for message in messages %}
    <div class="row">
        <p style="color:red">{{message}}</p>
    </div>
    {% endfor %} {% endif %}
</body>

</html>