<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <a href="/appointments">Dashboard</a>
    <a href="/main/logout">Logout</a>
    <form action="update" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Tasks</td>
                <td>
                    <input type="text" name="task" value="{{appointment.task}}">
                </td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>
                    <select name="status">
                        <option value="{{appointment.status}}" hidden selected>{{appointment.status}}</option>
                        <option value="done">Done</option>
                        <option value="pending">Pending</option>
                        <option value="missed">Missed</option>
                    </select>
                </td>
            </tr>
            <tr>
                {% load app_filters %}
                <td>Date</td>
                <td>
                    <!-- ????????????????????? -->
                    <input type="date" name="date" value="{{appointment.date|strftime}}">
                </td>
            </tr>
            <tr>
                <td>Time</td>
                <td>
                    <input type="time" name="time" value="{{appointment.time}}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Update">
                </td>
            </tr>
        </table>
    </form>
    {% if messages %} {% for message in messages %}
    <div class="row">
        <p style="color:red">{{message}}</p>
    </div>
    {% endfor %} {% endif %}
</body>
</html>